dash==2.15.0
dash_bootstrap_components==1.6.0
dash_loading_spinners==1.0.3
geopandas==1.0.0
libpysal==4.11.0
matplotlib==3.8.0
numpy==1.23.5
pandas==2.2.2
plotly==5.18.0
python_dateutil==2.8.2
scipy==1.14.1
Shapely==2.0.6
